

.conteiner {
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: red;
}

.imagen {
  display: block;
  text-align: center;
  margin: 10px auto;

  img {
    max-width: 100%;
    height: auto;
  }

}

.preco {
  font-weight: bold;
  color: red
}


